body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: left;
}
/* .title-name {
	padding: 40px 15px;
	text-align: left;
	position: fixed;
} */
.contact-info {
	padding: 40px 15px;
	text-align: left;
}